.header {
    background-color: var(--background-color);
    padding: 1rem 8rem;
    font-size: 3.5rem;
    color: var(--text-color);
}

@media screen and (max-width: 1450px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
        padding: 1rem;
    }
}