.main {
    width: 800px;
    height: 1122px;
    position: sticky;
    top: 10px;
    display: grid;
    grid-template-columns: 565px 235px;
    grid-template-rows: 132px 990px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.header {
    grid-column: span 2;
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

.wrapper {
    padding: 2rem;
    background-color: var(--element-color);
    color: var(--text-color);
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2rem;
}

.experienceItems {
    display: flex;
    gap: 2rem;
}

.fromTo {
    display: flex;
    gap: 1rem;
}

.experiencePosition {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.experiencePosition div {
    display: flex;
    gap: .5rem;
}

.personalMain {
    padding: 2rem;
    background-color: #BEB9B5;
    color: var(--text-color);
}

.personalDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details div {
    display: flex;
    flex-direction: column;
}