* {
  padding: 0px;
  margin: 0px;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

:root {
  --background-color: #C25B56;
  --text-color: #FEF6EB;
  --element-color: #74828F;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #BEB9B5;
}

body {
  font-size: 1.5rem;
}